{{#> email_layout.hbs title=subject}}
    <pre>{{message}}</pre>
    <br/>
    {{ formatIntl
            'email.contact.from'
            messages=messages
            name=(format '<i>{name}</i>' name=name)
            email=(format '<a href="mailto:{email}">{email}</a>' email=email) }}
{{/email_layout.hbs}}
