<nav id="LeftNav">
    <ul>
        <li data-label="Timetable">
            <a href="/">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Time"></use>
                </svg>
                <span>
                Timetable
                </span>
            </a>
        </li>
        <li data-label="Your bookings">
            <a href="/">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#List"></use>
                </svg>
                <span>
                Your bookings
                </span>
            </a>
        </li>
        <li data-label="Manage machines">
            <a href="/">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Machine"></use>
                </svg>
                <span>
                Manage machines
                </span>
            </a>
        </li>
    </ul>
    <hr/>
    <ul>
        <li data-label="Settings">
            <a href="/">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Gears"></use>
                </svg>
                <span>
                Settings
                </span>
            </a>
        </li>

    </ul>
</nav>