<nav id="TopNav">
    <a href="/" class="home">
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#SmallLogo"></use>
        </svg>
    </a>


    <a href="/about" class="icon about">
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Info"></use>
        </svg>
        About us
    </a>
    <a href="/help" class="icon help">
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#LifeBuoy"></use>
        </svg>
        Help
    </a>
    <a href="/contact" class="icon contact">
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#EMail4"></use>
        </svg>
        Contact
    </a>
    {{#if user}}
        <div class="user dropdown">
            <img src="{{{user.photo}}}" class="avatar"/>
            <div class="dropdown-content">
                <ul>
                    <li>
                        <a href="/app/i">
                            Manage your account
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            Log out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {{else}}
        <a href="/auth" class="log-in">Log in</a>
    {{/if}}
    <!--<div class="language">
        <span>English</span>
        <ul>
            <li><a href="#">English</a></li>
            <li><a href="#">Danish</a></li>
        </ul>

    </div>-->
</nav>