{
  "extends": [
    "standard",
    "standard-react",
    "standard-flow"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/no-unused-prop-types": 0,
    "react/jsx-space-before-closing": 0,
    "react/jsx-indent": 0,
    "no-var": "error"
  },
  "env": {
    "node": true
  }
}
