version: '2'
services:
  sut:
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_URL=mongodb://mongo/test
    build: .
    links:
      - redis
      - mongo
    volumes:
      - ./coverage:/opt/laundree/coverage
    command: 'test'
  redis:
    image: redis
  mongo:
    image: mongo