version: '2'
services:
  web:
    mem_limit: 4g
    environment:
      - NODE_ENV=test
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_URL=mongodb://mongo/test
      - SELENIUM_HOST=selenium
      - GOOGLE_CLIENT_API_KEY
      - GOOGLE_SERVER_API_KEY
      - NIGHTWATCH_LAUNCH_URL=http://web:3000/
      - CODECLIMATE_REPO_TOKEN
      - LAUNDREE_START_SERVER=false
      - API_BASE=http://localhost:3000/api
    build: .
    links:
      - redis
      - mongo
      - selenium
  redis:
    image: redis
  mongo:
    image: mongo
  selenium:
    image: selenium/standalone-chrome:3.0.1
