{{#> email_layout.hbs title=(formatIntl 'email.password-reset.title' messages=messages)}}
    {{ formatIntl
            'email.password-reset.message'
            messages=messages
            name=user.displayName
            link=(format
                    '<a href="https://laundree.io/auth/reset?user={userId}&token={token}">https://laundree.io/auth/reset?user={userId}&token={token}</a>'
                    userId=user.id
                    token=token)
            nl='<br />' }}
    <br/><br/>
    {{ formatIntl
            'email.signature'
            messages=messages
            nl='<br />' }}
{{/email_layout.hbs}}
