<div class="container">
    <table>
        <tr>
            <td></td>
            <td class="verticalMargin"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="logo body">
                <img src="https://laundree.io/images/mail_logo.png">
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <h1>Invitation</h1>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="body">
                Hi,<br />
                <br />
                You have been invited to join <b>{{{laundry.name}}}</b> on <a href='https://laundree.io'>laundree.io</a>.<br />
                If you don't have an account, you may sign-up here:
                <br />
                <a href='https://laundree.io/auth/sign-up' class='signup'>Sign-up</a>
                <br />
                Best,<br />
                Your laundree team!
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="verticalMargin"></td>
            <td></td>
        </tr>
    </table>
</div>
