<main>
    <header>
        <h1>
            Bob's laundree
        </h1>
        <div id="TimeTableHeader">

            <table>
                <tr class="dates">
                    <td colspan="3">
                        Monday 15/5
                    </td>
                </tr>
                <tr class="machines">
                    <td class="wash">
                        <svg>
                            <use xlink:href="#Drop" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </td>
                    <td class="wash">
                        <svg>
                            <use xlink:href="#Drop" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </td>
                    <td class="dry">
                        <svg>
                            <use xlink:href="#Waves" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </td>
                </tr>
                <tr class="labels">
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                </tr>
            </table>
            <table>
                <tr class="dates">
                    <td colspan="3">
                        Tuesday 16/5
                    </td>
                </tr>
                <tr class="machines">
                    <td class="wash">
                        <svg>
                            <use xlink:href="#Drop" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </td>
                    <td class="wash">
                        <svg>
                            <use xlink:href="#Drop" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </td>
                    <td class="dry">
                        <svg>
                            <use xlink:href="#Waves" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </td>
                </tr>
                <tr class="labels">
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                </tr>
            </table>
            <table>
                <tr class="dates">
                    <td colspan="3">
                        Wednesday 17/5
                    </td>
                </tr>
                <tr class="machines">
                    <td class="wash">
                        <svg>
                            <use xlink:href="#Drop" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </td>
                    <td class="wash">
                        <svg>
                            <use xlink:href="#Drop" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </td>
                    <td class="dry">
                        <svg>
                            <use xlink:href="#Waves" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </td>
                </tr>
                <tr class="labels">
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                </tr>
            </table>
            <table>
                <tr class="dates">
                    <td colspan="3">
                        Thursday 18/5
                    </td>
                </tr>
                <tr class="machines">
                    <td class="wash">
                        <svg>
                            <use xlink:href="#Drop" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </td>
                    <td class="wash">
                        <svg>
                            <use xlink:href="#Drop" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </td>
                    <td class="dry">
                        <svg>
                            <use xlink:href="#Waves" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </td>
                </tr>
                <tr class="labels">
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                </tr>
            </table>
        </div>
    </header>
    <section id="TimeTable">
        <ul class="times">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
        </ul>
        <div class="overlay_container">
            <div class="overlay">
                <div class="off_limits"></div>
                <div class="now" data-time="8:00"></div>

            </div>
            <table>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td ></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td ></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td ></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td ></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td ></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td ></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="overlay_container">
            <div class="overlay">

            </div>
            <table>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td ></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td ></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td ></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td ></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td ></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td ></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="overlay_container">
            <div class="overlay">

            </div>
            <table>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td ></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td ></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td ></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td ></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td ></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td ></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="overlay_container">
            <div class="overlay">

            </div>
            <table>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td ></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td ></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td ></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td ></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td ></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td ></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <ul class="times">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
        </ul>
    </section>
</main>
