<section id="BookIntro">
    <h1>Nørre Alle 81</h1>
    <div class="location badge">Nørre Alle 81, 8000 Aarhus C</div>
    <div class="availability badge" >90% available</div>
    <div class="desc">
        Your reservations:
        <ul class="reservations">
            <li>Wednesday 8.30-11.00 <div>1 washing machine and 1 dryer</div></li>
            <li>Wednesday 9.30-12.00 <div>1 washing machine</div></li>
        </ul>

    </div>
</section>
<section class="booking">
    <h2>Tuesday (today)</h2>
    <div class="desc">
        <ul>
            <li class="washing">Vaskemaskine #1</li>
            <li class="washing">Vaskemaskine #2</li>
            <li class="drying">Tørretumber</li>
        </ul>
    </div>

    <div>
        <table>
            <tr>
                <th colspan="2">00</th>
                <th colspan="4"></th>
                <th colspan="2">03</th>
                <th colspan="4"></th>
                <th colspan="2">06</th>
                <th colspan="4"></th>
                <th colspan="2">09</th>
                <th colspan="4"></th>
                <th colspan="2">12</th>
                <th colspan="4"></th>
                <th colspan="2">15</th>
                <th colspan="4"></th>
                <th colspan="2">18</th>
                <th colspan="4"></th>
                <th colspan="2">21</th>
                <th colspan="4"></th>
                <th colspan="2">24</th>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
        </table>
    </div>
</section>
<section class="booking">
    <h2>Wednesday </h2>
    <div class="desc">
        <ul>
            <li class="washing">Vaskemaskine #1</li>
            <li class="washing">Vaskemaskine #2</li>
            <li class="drying">Tørretumber</li>
        </ul>
    </div>

    <div>
        <table>
            <tr>
                <th colspan="2">00</th>
                <th colspan="4"></th>
                <th colspan="2">03</th>
                <th colspan="4"></th>
                <th colspan="2">06</th>
                <th colspan="4"></th>
                <th colspan="2">09</th>
                <th colspan="4"></th>
                <th colspan="2">12</th>
                <th colspan="4"></th>
                <th colspan="2">15</th>
                <th colspan="4"></th>
                <th colspan="2">18</th>
                <th colspan="4"></th>
                <th colspan="2">21</th>
                <th colspan="4"></th>
                <th colspan="2">24</th>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="taken yours"></td>
                <td class="taken yours"></td>
                <td class="taken yours"></td>
                <td class="taken yours"></td>
                <td class="taken yours"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="taken"></td>
                <td class="taken"></td>
                <td class="taken"></td>
                <td class="taken"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="taken yours"></td>
                <td class="taken yours"></td>
                <td class="taken yours"></td>
                <td class="taken yours"></td>
                <td class="taken yours"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="taken yours"></td>
                <td class="taken yours"></td>
                <td class="taken yours"></td>
                <td class="taken yours"></td>
                <td class="taken yours"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
        </table>
    </div>
</section>
<section class="booking">
    <h2>Thursday </h2>
    <div class="desc">
        <ul>
            <li class="washing">Vaskemaskine #1</li>
            <li class="washing">Vaskemaskine #2</li>
            <li class="drying">Tørretumber</li>
        </ul>
    </div>

    <div>
        <table>
            <tr>
                <th colspan="2">00</th>
                <th colspan="4"></th>
                <th colspan="2">03</th>
                <th colspan="4"></th>
                <th colspan="2">06</th>
                <th colspan="4"></th>
                <th colspan="2">09</th>
                <th colspan="4"></th>
                <th colspan="2">12</th>
                <th colspan="4"></th>
                <th colspan="2">15</th>
                <th colspan="4"></th>
                <th colspan="2">18</th>
                <th colspan="4"></th>
                <th colspan="2">21</th>
                <th colspan="4"></th>
                <th colspan="2">24</th>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
        </table>
    </div>
</section>
<section class="booking">
    <h2>Friday</h2>
    <div class="desc">
        <ul>
            <li class="washing">Vaskemaskine #1</li>
            <li class="washing">Vaskemaskine #2</li>
            <li class="drying">Tørretumber</li>
        </ul>
    </div>

    <div>
        <table>
            <tr>
                <th colspan="2">00</th>
                <th colspan="4"></th>
                <th colspan="2">03</th>
                <th colspan="4"></th>
                <th colspan="2">06</th>
                <th colspan="4"></th>
                <th colspan="2">09</th>
                <th colspan="4"></th>
                <th colspan="2">12</th>
                <th colspan="4"></th>
                <th colspan="2">15</th>
                <th colspan="4"></th>
                <th colspan="2">18</th>
                <th colspan="4"></th>
                <th colspan="2">21</th>
                <th colspan="4"></th>
                <th colspan="2">24</th>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
        </table>
    </div>
</section>
<section class="booking">
    <h2>Saturday</h2>
    <div class="desc">
        <ul>
            <li class="washing">Vaskemaskine #1</li>
            <li class="washing">Vaskemaskine #2</li>
            <li class="drying">Tørretumber</li>
        </ul>
    </div>

    <div>
        <table>
            <tr>
                <th colspan="2">00</th>
                <th colspan="4"></th>
                <th colspan="2">03</th>
                <th colspan="4"></th>
                <th colspan="2">06</th>
                <th colspan="4"></th>
                <th colspan="2">09</th>
                <th colspan="4"></th>
                <th colspan="2">12</th>
                <th colspan="4"></th>
                <th colspan="2">15</th>
                <th colspan="4"></th>
                <th colspan="2">18</th>
                <th colspan="4"></th>
                <th colspan="2">21</th>
                <th colspan="4"></th>
                <th colspan="2">24</th>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
            <tr class="washing">
                <td class="padding"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="padding"></td>
            </tr>
        </table>
    </div>
</section>
<section>
    <div class="load">Load next 5 days</div>

</section>