<main>
    <section id="LogIn">
        <h1>
            Reset your password
        </h1>
        <a href="/" id="Logo">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Logo"></use>
            </svg>
        </a>
        <form id="ForgotPassword" class="validate initial">

            <label class="validate" data-validate-error="Please enter your e-mail address.">
                <input type="text" name="email" placeholder="E-mail address" data-validate-type="email">
            </label>
            <div class="buttons">
                <input type="submit" value="Reset"/>
            </div>
            <div class="forgot">
                <div>
                    Did you remember your password?
                    <a href="/auth" class="forgot">Log in.</a>
                </div>
                <div>
                    Do you not have an account?
                    <a href="/auth/sign-up">Sign-up here.</a>
                </div>
            </div>
        </form>

    </section>
</main>
