<header>
    <div>
        <a href="/">
            <svg id="Logo">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Logo"></use>
            </svg>
        </a>
        <h2>An easy and free booking system for your laundry.</h2>
    </div>
    <div>
        <video src="/videos/v13.mov" reload="auto" loop="loop" autoplay></video>
    </div>
</header>
<main>
    <div id="BackgroundArt">
    </div>
    <section id="QuickStart">
        <h1>
            Sign up your laundry in three easy steps. <br/>It's 100% free!
        </h1>
        <ul>
            <li>
                <svg class="step">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Step1"></use>
                </svg>
                <div>
                    <h2>Create</h2>
                    Create a <a href="https://laundree.io">Laundree</a> account using your e-mail address.<br/>
                    Don’t worry, we wont spam you or anything.
                </div>
            </li>
            <li>
                <svg class="step">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Step2"></use>
                </svg>
                <div>
                    <h2>Register</h2>
                    Register your laundry with its washing machines and dryers.<br/>
                    You can register as many as you want!

                </div>
            </li>
            <li>
                <svg class="step">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Step3"></use>
                </svg>
                <div>
                    <h2>Invite</h2>
                    Invite your tenants to use laundree.<br/>
                    All you need is their e-mail addresses.
                </div>
            </li>
        </ul>
    </section>
    <section id="StartDemo">
        <h1>
            ... or spin up a live demo before you decide.
        </h1>
        <div>
            <a href="#">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     viewBox="0 0 128.9 153">
                    <path fill="#E55564" d="M16,22.4c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8
		C14.3,18.6,16,20.3,16,22.4L16,22.4z M16,22.4"></path>
                    <path fill="#E55564" d="M28,22.4c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8
		C26.3,18.6,28,20.3,28,22.4L28,22.4z M28,22.4"></path>
                    <path fill="#E55564" d="M96.4,22.4c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8
		C94.7,18.6,96.4,20.3,96.4,22.4L96.4,22.4z M96.4,22.4"></path>
                    <path fill="#E55564" d="M108.4,22.4c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8
		C106.7,18.6,108.4,20.3,108.4,22.4L108.4,22.4z M108.4,22.4"></path>
                    <path fill="#E55564" d="M120.5,22.4c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8
		C118.8,18.6,120.5,20.3,120.5,22.4L120.5,22.4z M120.5,22.4"></path>
                    <path fill="#E55564" d="M0,153h128.9V29.9H0V153z M64.5,50.7c22.5,0,40.8,18.3,40.8,40.8c0,22.5-18.3,40.8-40.8,40.8
		s-40.8-18.3-40.8-40.8C23.7,69,42,50.7,64.5,50.7L64.5,50.7z M64.5,50.7"></path>
                    <rect fill="#E55564" width="128.9" height="13.2"></rect>
                    <path fill="#DD7E58" d="M73.5,62.3v9.6c7,3.5,12.3,10.9,12.3,19.4c0,11.9-9.5,21.6-21.5,21.6
		c-11.9,0-21.7-9.7-21.7-21.6c0-8.9,4.9-16.5,12.9-19.8V62c-13,3.7-21.7,15.4-21.7,29.2c0,16.8,13.7,30.5,30.6,30.5
		s30.2-13.7,30.2-30.5C94.6,77.8,85.5,66.3,73.5,62.3z"></path>
                    <rect x="60.9" y="55.9" fill="#DD7E58" width="6.9" height="34.5"></rect>
                </svg>

            </a>
        </div>
    </section>
</main>
