<!DOCTYPE html>
<html>
<head>
    <title>Laundree.io{{#each title}} - {{this}}{{/each}}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400,400italic&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    {{#each styles}}
        <link rel="stylesheet" href="{{this}}"/>
    {{/each}}
</head>
<body>
<div id="Container">
    {{#unless no_top}}
        <nav>
            <a href="/" class="home"> </a>
            <a href="/about">Who are we?</a>
            <a href="#">Contact us.</a>
            <a href="/sign-in" class="sign-in">Sign in</a>
            <div class="language">
                <span>English</span>
                <ul>
                    <li><a href="#">English</a></li>
                    <li><a href="#">Danish</a></li>
                </ul>

            </div>
        </nav>
        {{#if compact_top }}
            <header class="compact">
                <a href="/">
                </a>

            </header>
        {{else}}
            <header>
                <div>
                    <a href="/"><img src="/images/logo-2.svg" id="Logo"/></a>
                    <h2>An easy and free booking system for your laundry.</h2>
                </div>
                <div>
                    <video src="/videos/v13.mov" reload="auto" loop="loop" autoplay></video>
                </div>
            </header>
        {{/if}}

    {{/unless}}
    <main>
        {{{ body }}}
    </main>
</div>
<footer>
    <ul>
        <li>
            <img src="/images/iconmonstr-brick-8.svg"/>
            Created by
            Christian Budde Christensen
            Malene Sjørslev Søholm
            in
            <a href="https://en.wikipedia.org/wiki/Aarhus" target="_blank">Aarhus, Denmark</a>
        </li>
        <li>
            <img src="/images/iconmonstr-email-13.svg"/>
            Want to know more? Please contact and we'll try our best
            to reply in a timely manner. You can find our contact
            details at the
            <a href="/contact">Contact page</a>
        </li>
        <li>
            <img src="/images/iconmonstr-github-1.svg"/>
            Laundree is 100% open-source and any contribution is highly appreciated
            File an issue, create a pull-request, or fork us on
            <a href="https://github.com/laundree/laundree" target="_blank">GitHub</a>
        </li>
        <li>
            <img src="/images/iconmonstr-paypal-1.svg"/>
            Do you want to help us keep the servers running at full throttle?
            Then feel free to donate via
            <a href="#" target="_blank">PayPal</a>
        </li>

    </ul>
</footer>
</body>
</html>
