<!DOCTYPE html>
<html>
<head>
    {{> head}}
</head>
<body>
{{> media}}
{{{ body }}}
</body>
{{#if flash}}<script type="application/javascript">window.__FLASH_MESSAGES__ = {{{flash}}}</script>{{/if}}
<script type="application/javascript" src="/javascripts/bundle.js"></script>
</html>
