<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#608da8">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#e55564">
    <title>Laundree.io{{#each title}} - {{this}}{{/each}}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400,400italic&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    {{#each styles}}
        <link rel="stylesheet" href="{{this}}"/>
    {{/each}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="Container">
    {{#unless no_top}}
        <nav>
            <a href="/" class="home"> </a>
            <a href="/about">Who are we?</a>
            <a href="#">Contact us.</a>
            <a href="/sign-in" class="sign-in">Sign in</a>
            <div class="language">
                <span>English</span>
                <ul>
                    <li><a href="#">English</a></li>
                    <li><a href="#">Danish</a></li>
                </ul>

            </div>
        </nav>
        {{#if compact_top }}
            <header class="compact">
                <a href="/">
                </a>

            </header>
        {{else}}
            <header>
                <div>
                    <a href="/"><img src="/images/logo-2.svg" id="Logo"/></a>
                    <h2>An easy and free booking system for your laundry.</h2>
                </div>
                <div>
                    <video src="/videos/v13.mov" reload="auto" loop="loop" autoplay></video>
                </div>
            </header>
        {{/if}}

    {{/unless}}
    <main>
        {{{ body }}}
    </main>
</div>
{{#unless no_footer}}
<footer>
    <ul>
        <li>
            <img src="/images/iconmonstr-brick-8.svg"/>
            Created by
            Christian Budde Christensen
            Malene Sjørslev Søholm
            in
            <a href="https://en.wikipedia.org/wiki/Aarhus" target="_blank">Aarhus, Denmark</a>
        </li>
        <li>
            <img src="/images/iconmonstr-email-13.svg"/>
            Want to know more? Please contact and we'll try our best
            to reply in a timely manner. You can find our contact
            details at the
            <a href="/contact">Contact page</a>
        </li>
        <li>
            <img src="/images/iconmonstr-github-1.svg"/>
            Laundree is 100% open-source and any contribution is highly appreciated
            File an issue, create a pull-request, or fork us on
            <a href="https://github.com/laundree/laundree" target="_blank">GitHub</a>
        </li>
        <li>
            <img src="/images/iconmonstr-paypal-1.svg"/>
            Do you want to help us keep the servers running at full throttle?
            Then feel free to donate via
            <a href="#" target="_blank">PayPal</a>
        </li>

    </ul>
</footer>
{{/unless}}
</body>
</html>
