<main>
    <section id="LogIn">
        <h1>
            Log in to
        </h1>
        <a href="/" id="Logo">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Logo"></use>
            </svg>
        </a>
        <div class="auth_alternatives">
            <a href="/auth/facebook{{#if facebook_auth_failure}}?rerequest=1{{/if}}" class="facebook">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Facebook"></use>
                </svg>
                Log in with Facebook
            </a>
            <a href="/auth/google" class="google">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#GooglePlus"></use>
                </svg>
                Log in with Google
            </a>
        </div>
        <div class="or">
            <span>OR</span>
        </div>
        <form id="SignIn" class="validate initial" method="post" action="/auth/local">

            <label class="validate" data-validate-error="Please enter your e-mail address.">
                <input type="text" name="username" placeholder="E-mail address" data-validate-type="email">
            </label>
            <label data-validate-error="Please enter your password" class="validate">
                <input type="password" name="password" placeholder="Password" data-validate-type="non_empty">
            </label>
            <div class="buttons">
                <input type="submit" value="Log in"/>
            </div>
            <div class="forgot">
                <div>
                    Forgot your password?
                    <a href="/auth/forgot" class="forgot">Let us send you a new one.</a>
                </div>
                <div>
                    Do you not have an account?
                    <a href="/auth/sign-up">Sign-up here.</a>
                </div>
            </div>
        </form>
        <div class="notice">
            Notice: By logging in without an account, we will register you and you will be accepting our
            <a href="/auth/terms-and-conditions" target="_blank">Terms and Conditions</a>,
            <a href="/auth/cookie-policy" target="_blank">Cookie Policy</a>, and
            <a href="/auth/privacy-policy" target="_blank">Privacy Policy</a>.
        </div>
    </section>
</main>
