<!DOCTYPE html>
<html>
<head>
    <style type="text/css">

        body {
            background-color: #66D3D3;
            margin: 0;
        }

        img {
            width: 250px;
            display: block;
            margin: 100px auto 0;
        }
    </style>
</head>
<body>
<img src="/images/logo-2.svg"/>
</body>
</html>