<section>
    <form id="SignIn">
        <h1>Sign-in to</h1>
        <a href="/" id="Logo">
            <img src="/images/logo-2.svg"/>
        </a>
        <label>
            E-mail address
            <input type="text">
        </label>
        <label>
            Password
            <input type="password">
        </label>
        <a href="/" class="forgot">
            Forgot your password?
        </a>
        <input type="submit" value="Sign-in"/>
    </form>
</section>
