<main id="SignUpPage">
    <section id="CreateAccount">
        <h1>
            Sign-up for an account
        </h1>
        <a href="/" id="Logo">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Logo"></use>
            </svg>
        </a>
        <div class="auth_alternatives">
            <a href="/auth/facebook{{#if facebook_auth_failure}}?rerequest=1{{/if}}" class="facebook">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Facebook"></use>
                </svg>
                Sign up with Facebook
            </a>
            <a href="/auth/google" class="google">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#GooglePlus"></use>
                </svg>
                Sign up with Google
            </a>
        </div>
        <div class="or">
            <span>OR</span>
        </div>
        <form class="validate initial">
            <label data-validate-error="Please enter your full name" class="validate">
                <input type="text" name="name" placeholder="Full name" data-validate-type="nonEmpty"/>
            </label>
            <label data-validate-error-email="Please enter a valid e-mail address"
                   data-validate-error-email-available="This email is already registered"
                   class="validate">
                <input type="text" name="email" placeholder="E-mail address" data-validate-type="email and emailAvailable"/>
            </label>
            <label data-validate-error="Min. 6 characters containing at least one letter" class="validate">
                <input type="password" name="password" placeholder="Password" data-validate-type="password"/>
            </label>
            <div class="accept">
                By signing up you acree with our
                <a href="/auth/terms-and-conditions" target="_blank">Terms and Conditions</a>,
                <a href="/auth/cookie-policy" target="_blank">Cookie Policy</a>, and
                <a href="/auth/privacy-policy" target="_blank">Privacy Policy</a>.
            </div>
            <div class="buttons">
                <input type="submit" value="Create your account" class="create"/>
            </div>
            <div class="forgot">
                <div>Already have an account? <a href="/auth">Log in here.</a></div>
                <div>
                    Forgot your password?
                    <a href="/auth/forgot" class="forgot">Let us send you a new one.</a>
                </div>
            </div>

        </form>
    </section>

</main>