<main>

    <section>
        <form id="SignIn" class="validate initial">
            <h1>Sign-in to</h1>
            <a href="/" id="Logo">
                <svg id="Logo">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Logo"></use>
                </svg>
            </a>
            <label class="validate" data-validate-error="Please enter your e-mail address.">
                <input type="text" name="name" placeholder="E-mail address" data-validate-type="email">
            </label>
            <label>
                <input type="password" name="password" placeholder="Password">
            </label>
            <div class="forgot">
                <a href="/" class="forgot">
                    Forgot your password?
                </a>
            </div>
            <input type="submit" value="Sign-in"/>
        </form>
    </section>
</main>
