@import "main"

form
  max-width: 23em
  margin: auto

  a#Logo
    width: 15em
    margin: auto auto 2em
    display: block

    svg
      width: 15em
      height: logo_ratio_w_to_h(15em)
      display: block

  div.forgot
    text-align: right
    a
      font-size: 0.9em
