@import "main"

main
  padding: 4em 0
  #Logo
    width: 15em
    height: logo_ratio_w_to_h(15em)
    margin: auto
    display: block

  #StepList
    list-style-type: none
    margin: auto
    display: block
    width: 22em
    padding: 5em 0 0
    height: 3em
    li
      float: left

    li.dots
      svg
        fill: #D1D1D1
        width: 5.5em
        height: 0.5em
        padding: 1.25em 0.5em
        display: block

    li:not(.dots)
      svg
        width: 3em
        height: 3em
        display: block

main
  form
    width: 23em
    margin: auto
    .buttons
      padding-top: 1em
      .next
        float: right

#RegisterMachines
  form
    > ul
      list-style-type: none
      > li
        position: relative
        height: 5em
        label
          float: right
          input
            width: 15em

        .delete
          position: absolute
          height: 1.5em
          width: 1.5em
          top: 2.75em
          right: -2.5em
          fill: #d54a50
          cursor: pointer

        svg
          fill: #3d9eaa
          height: 2em
          width: 2em

        .select
          position: relative
          width: 5em
          float: left
          margin-top: 2em

          &.open
            .value
              +border-radius(0.2em 0.2em 0 0)
              background-color: #ffffff

          .value
            position: relative
            z-index: 10
            line-height: 3em
            display: block
            height: 3em
            cursor: pointer

            svg.machine
              margin: 0.5em

            svg.chevron
              float: right
              width: 1em
              height: 1em
              margin: 1em 0.5em

          .options
            z-index: 11
            position: absolute
            top: 100%
            width: auto
            box-shadow: 0 0.1em 0.1em #c7c7c7
            background-color: #ffffff
            +border-radius(0 0.2em 0.2em 0.2em)
            li
              cursor: pointer
              width: 15em
              svg.machine
                margin: 0.5em
              .desc
                line-height: 3em
                display: block
                float: right
                width: 12em
              &:hover, &.active
                background-color: #E6E6E6
    .add
      padding-top: 1em
      cursor: pointer

      svg
        height: 1em
        width: 1em
        margin: 0 0.5em
        fill: #EC923F