{{#> email_layout.hbs title=(formatIntl 'email.verify-email.title' messages=messages)}}
    {{ formatIntl
            'email.verify-email.message'
            messages=messages
            name=user.displayName
            email=(format '<b>{email}</b>' email=email)
            link=(format
                    '<a href="https://laundree.io/auth/verify?user={userId}&email={email}&token={token}">https://laundree.io/auth/verify?user={userId}&email={email}&token={token}</a>'
                    userId=user.id
                    email=emailEncoded
                    token=token)
            nl='<br />' }}
    <br/><br/>
    {{ formatIntl
            'email.signature'
            messages=messages
            nl='<br />' }}
{{/email_layout.hbs}}
