{{#> email_layout.hbs title=(formatIntl 'email.invite-user.title' messages=messages)}}
    {{ formatIntl
            'email.invite-user.message'
            messages=messages
            name=user.displayName
            laundry=(format '<b>{name}</b>' name=laundry.name)
            link=(format '<a href="https://laundree.io">{link}</a>'
                    link=(formatIntl 'email.invite-user.message.link' messages=messages))
            nl='<br />' }}
    <br/><br/>
    {{ formatIntl
            'email.signature'
            messages=messages
            nl='<br />' }}
{{/email_layout.hbs}}
