body.app
  padding-bottom: 0


.empty_list
  font-weight: bold
  line-height: 7em
  border-radius: 0.2em
  text-align: center
  color: #489c9c
  span
    font-size: 0.9em

main#TimeTableMain
  height: 100%
  width: 100%
  overflow: hidden
  header
    position: relative
    z-index: 15
    background-color: #66D3D3
    +transition(left, 0.2s)
    padding:
      top: 5em
      left: 15em
    &.today
      .date_nav
        .nav
          .left
            +arrow(#5bb5b5, 0.5em, left)
            cursor: auto
          svg
            cursor: auto
            fill: #5bb5b5
    .date_nav
      .nav
        +user-select(none)
        font-style: italic
        display: inline-block
        padding: 0 0 0 2em
        svg
          cursor: pointer
          height: 1em
          width: 1em
          margin: 0 1em 0 0
          fill: #1e6a72
        .arrow
          display: inline-block
          cursor: pointer
        .left
          margin-right: 1em
          +arrow(#1e6a72, 0.5em, left)
        .right
          margin-left: 1em
          +arrow(#1e6a72, 0.5em, right)
      h1
        display: inline-block
        padding-left: 1.5em
        text-align: left
    #TimeTableHeader
      padding-top: 1em
      display: flex
      padding-left: 0
      padding-right: 3em
      .header_container
        margin-left: 2em
        .date
          text-align: center
          span
            font-family: "Roboto Condensed", sans-serif
            display: block
            line-height: 2em
            height: 2em
            overflow: hidden
        table
          table-layout: fixed
          border-spacing: 0
          border-collapse: collapse
          width: 100%

          tr
            td
              border: 0.1em solid transparent
              &:first-of-type
                border-width: 0.1em 0.1em 0.1em 0
              &:last-of-type
                border-width: 0.1em 0 0.1em 0.1em
              &:first-of-type:last-of-type
                border-width: 0.1em 0
            &.machines
              td
                text-align: center
                font-weight: bold
                height: 2em
                svg
                  width: 1.5em
                  height: 1.5em
                  fill: #fff
            &.labels
              td
                &.hoverColumn
                  background-color: #49a09e
                +transition(0.1s background)
                border-color: #66D3D3
                background-color: #44B7B4
                text-align: center
                font-family: "Roboto Condensed", sans-serif
                margin: 0.1em 0
                color: #ffffff
                overflow: hidden
                div
                  height: 2em
                  line-height: 2em
                  overflow: hidden
                  .shortName
                    display: none
                  span
                    font-size: 0.8em
  > div.loading
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 1
    #TimeTable
      .timetable_container
        .times
          display: none
  #TimeTable
    background-color: #7DD8D5
    margin-top: 15.7em
    position: absolute
    top: 0
    bottom: 0
    overflow-x: hidden
    overflow-y: scroll
    width: calc(100% - 15em)
    padding: 0 0 0 15em
    .timetable_container
      position: relative
      padding-right: 2em
      display: flex
      .times
        position: absolute
        &.times:first-of-type
          left: 0
        &.times:last-of-type
          right: 0
        list-style-type: none
        margin-top: 3em
        li
          $h: 6em
          border: 0.1em solid transparent
          border-width: 0.1em 0
          height: $h
          line-height: $h
          text-align: right
          width: 1em
          padding: 0 0.5em
          span
            font-size: 0.8em
            font-family: "Roboto Condensed", sans-serif
        &:last-of-type
          li
            text-align: left
      .overlay_container
        position: relative
        display: inline-block
        margin-left: 2em
        .overlay
          div
            left: 0
            right: 0
            position: absolute
            z-index: 10
          .now
            +transition(1s top)
            z-index: 11
            height: 0.2em
            margin-top: -0.1em
            background-color: #E54545
            text-align: center
            $color: #D33939
            overflow: hidden
            &:hover
              overflow: visible
              &:before, &:after
                opacity: 1

            &:before, &:after
              +transition(0.1s opacity)

            &:before
              content: ""
              position: absolute
              z-index: 101
              height: 0
              width: 0
              opacity: 0
              top: -0.8em
              right: calc(50% - 0.5em)
              border:
                width: 0.5em
                style: solid
                color: $color transparent transparent transparent

            &:after
              opacity: 0
              z-index: 100
              font-size: 0.8em
              content: attr(data-time)
              background: $color
              padding: 0.5em
              position: absolute
              right: calc(50% - 2em)
              +border-radius(0.2em)
              color: #fff
              display: block
              top: -3.3em
              font-family: 'Roboto Condensed', sans-serif
              line-height: 1.5em
              width: 3em
              box-shadow: 0 0 0.1em #000
              text-align: center

          .off_limits
            +transition(1s height)
            background-color: rgba(44, 76, 75, 0.4)
          .booking
            width: 3.5em
            height: 3em
            background-color: #7D1919

        table

          width: 100%
          table-layout: fixed
          border-collapse: collapse
          border-spacing: 0
          float: left
          tr
            &.too_late
              td
                background-color: #60ccc9
            &.hover td, & td.cellHover
              background-color: #57ccc9
            &.hover td.cellHover
              background-color: #58d4d1
            &:first-of-type
              td
                border-top: 0
            &:last-of-type
              td
                border-bottom: 0
            &:not(.too_late)
              td
                cursor: pointer

            td
              +transition(0.2s background-color)
              +user-select(none)
              background-clip: padding-box
              position: relative
              height: 3em
              background-color: #4DC4C1
              border: 0.1em solid #7DD8D5
              &:last-of-type
                border-width: 0.1em 0 0.1em 0.1em
              &:first-of-type
                border-width: 0.1em 0.1em 0.1em 0
              .booking
                &.active
                  background-color: #c64f4f
                &.mine
                  background-color: rgb(73, 160, 68)
                  &.active
                    background-color: #52b94c
                +transition(0.1s background-color)
                +user-select(none)
                z-index: 9
                background-color: #a04444
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: calc(100% + 0.1em)
  #ActiveBooking
    overflow: hidden
    position: fixed
    bottom: 0
    height: 15em
    right: 0
    left: 15em
    color: #000
    background-color: #f9ffff
    z-index: 15
    .avatar
      +border-radius(0.1em)
      float: left
    span
      font-style: italic
    .actions
      position: absolute
      bottom: 2em
    .close
      width: 1.1em
      height: 1.1em
      position: absolute
      right: 1em
      top: 1em
      cursor: pointer
      fill: #d00101
      opacity: 0.6
      z-index: 16
      +transition(0.1s opacity)
      &:hover
        opacity: 1
    +transition(0.2s all)
    > div
      position: relative
      padding: 1em
      height: 13em
      > div.text
        padding: 0 1em 0 4em
        max-width: 25em
    h1
      font-family: "Roboto Condensed", sans-serif
      padding-bottom: 1em
      color: #2b2b2b
      text-align: left
      font-size: 1.3em
      padding-top: 0
    &.no_booking
      height: 0

#TimeTable::-webkit-scrollbar-track
  background-color: #7DD8D5

#TimeTable::-webkit-scrollbar
  width: 1em

#TimeTable::-webkit-scrollbar-thumb
  background-color: #E55564
  +border-radius(0.2em)
  &:hover
    background-color: #bc4855

@media only screen and (max-width: 90em)
  main#TimeTableMain
    #ActiveBooking
      left: 4em
    header
      padding-left: 4em
    #TimeTable
      width: calc(100% - 4em)
      padding-left: 4em

@media only screen and (max-width: 45em)
  main#TimeTableMain
    header
      #TimeTableHeader
        .header_container
          table.compressed tr.labels td div
            .shortName
              display: inline
            .longName
              display: none
      .date_nav
        .nav
          display: block
          line-height: 1.5em

@media only screen and (max-width: 30em)
  main#TimeTableMain
    #ActiveBooking
      left: 0
    header
      padding-left: 0

    #TimeTable
      width: calc(100%)
      padding-left: 0
