#CreateLaundry
  padding-top: 5em
  > section
    padding:
      left: 1em
      right: 1em
    max-width: 25em
    margin: auto
    .create
      .expand_button
        padding: 3em 0
      form
        display: none
        padding: 1em 1em 3em
        +transition(opacity 0.2s)
        height: 0
        opacity: 0
        input
          display: block
      &.expanded
        padding: 0
        form
          height: auto
          opacity: 1
          display: block
        .expand_button
          display: none
      button
        width: 14em
        margin: auto
        display: block
