#LandingPage
  padding-top: 5em
  h1
    font-family: "Roboto Condensed", sans-serif
    font-style: italic
    text-align: left
    font-size: 2em
  h2
    font-family: "Roboto Condensed", sans-serif
    font-style: italic
    text-align: left
    font-size: 1.5em
    padding-bottom: 0.5em
  section
    .container
      max-width: 100em
      margin: auto
      position: relative
      height: 100%
  section.bright
    background-color: #8fd4db
  section.intro
    height: 30em
    padding: 0
    div.title
      width: 20em
      padding: 8em 0 0 0
      text-align: left
      .desc
        padding: 1em 0
        font-size: 1.1em
        font-style: italic
    div.appLogos
      position: absolute
      bottom: 2em
      img
        display: inline-block
        height: 2.5em
        &:first-of-type
          margin-right: 1em
  section.statistics
    padding: 2em 0
    .container
      max-width: 38em
    .stat
      width: 15em
      padding: 2em
      display: inline-block
      text-align: center
      > .subTitle
        padding: 1em 0
      > div:not(.subTitle)
        height: 1em
        line-height: 1em
        font-size: 5em
        svg
          vertical-align: top
          margin: 0.2em 0.2em 0 0
          width: 0.60em
          height: 0.60em
          fill: #04414c
          display: inline-block
        span
          display: inline-block
          font-family: "Roboto Condensed", sans-serif
          font-weight: bold
          color: #e45564
  section.about
    .text
      max-width: 25em
      padding: 4em 0
